body{
/* 	position:relative; */
/* 	width:1366px;
	height:643px; */
	overflow-y:hidden;
	overflow-x:hidden;
	background:url(../img/1.jpg);
	z-index:1;
}
#container{
	position:relative;
	width:1366px;
	height:643px;
}
/*遮罩和弹出层  */
#allMask{
	position:absolute;
	width:1366px;
	height:643px;
	margin-left:-114px;
	background-color:black;
	display:none;
	opacity:0.5;
	z-index:9998;
}
#pop{
	position:absolute;
	width:220px;
	height:120px;
	margin-left:470px;
	margin-top:271.5px;
	text-align:center;
	background-color:white;
	border:solid 2px #229FFD;
	border-radius:5%;
	display:none;
	z-index:9999;
}
#password{
	margin-top:40px;
	text-align:center;
	border:0;
	outline:0;
}
#outline{
	margin-left:20px;
	width:180px;
	height:1px;
	background-color:#1B9AF7;
}
#submit{
	margin-top:5px;
	margin-left:60px;
	width:100px;
	height:45px;
	color:white;
	text-align:center;
	line-height:45px;
	background-color:#A8E8FF;
	border-radius:100px;
}
#left-mask{
	position:absolute;
	width:99px;
	height:593px;
	margin-left:-113px;
	margin-top:50px;
	background-color:black;
	z-index:99;
}
#right-mask{
	position:absolute;
	width:98px;
	height:593px;
	margin-left:1156px;
	margin-top:50px;
	background-color:black;
	z-index:99;
}
#scrollPage{
	position:absolute;
	margin-top:50px;
	width:1170px;
	height:1186px;
}
#scrollPage1 {
	position:absolute;
	margin-top:0;
	margin-left:1px;
	width:1170px;
	height:593px;
	background-color:brown;
	z-index:2;
}
#scrollPage2 {
	position:absolute;
	margin-top:593px;
	margin-left:1px;
	width:1170px;
	height:593px;
	background-color:rgba(0,0,0,0.5);
	display:block;
	z-index:2;
}
#button-down{
	position:absolute;
	width:50px;
	height:60px;
	margin-top:580px;
	margin-left:520px;
	background-color:transparent;
	font-size:50px;
	color:white;
	z-index:10;
}
#button-up{
	position:absolute;
	width:50px;
	height:60px;
	margin-top:60px;
	margin-left:520px;
	background-color:transparent;
	font-size:50px;
	color:white;
	z-index:0;
}
#button-left{
	position:absolute;
	width:50px;
	height:60px;
	margin-top:315px;
	margin-left:1px;
	background-color:transparent;
	font-size:50px;
	color:white;
	z-index:0;
}
#button-right{
	position:absolute;
	width:50px;
	height:60px;
	margin-top:315px;
	margin-left:1080px;
	background-color:transparent;
	font-size:50px;
	color:white;
	z-index:0;
}
#loginOut{
	display:none;
}